/* _code-snippet.css */

/**
 * One Light theme for prism.js
 * Based on Atom's One Light theme: https://github.com/atom/atom/tree/master/packages/one-light-syntax
 * Slightly modified to be used with dark theme as well
 */

code[class*='language-'],
pre[class*='language-'] {
  font-family: 'Fira Code', 'Fira Mono', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-weight: 500;
  direction: ltr;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.2em 0.3em;
  border-radius: 0.3em;
  white-space: wrap;
}

.token.comment,
.token.prolog,
.token.cdata {
  @apply text-[hsl(231,3%,56%)] dark:text-[hsl(231,3%,70%)] duration-300;
}

.token.doctype,
.token.punctuation,
.token.entity {
  @apply text-gray-700 dark:text-gray-300 duration-300;
}

.token.attr-name,
.token.class-name,
.token.boolean,
.token.constant,
.token.number,
.token.atrule {
  @apply text-[hsl(35,99%,36%)] dark:text-[hsl(35,99%,55%)] duration-300;
}

.token.keyword {
  @apply text-[hsl(301,63%,40%)] dark:text-[hsl(301,63%,60%)] duration-300;
}

.token.property,
.token.tag,
.token.symbol,
.token.deleted,
.token.important {
  @apply text-[hsl(5,74%,59%)] dark:text-[hsl(5,90%,65%)] duration-300;
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.regex,
.token.attr-value,
.token.attr-value > .token.punctuation {
  @apply text-[hsl(119,34%,47%)] dark:text-[hsl(119,60%,60%)] duration-300;
}

.token.variable,
.token.operator,
.token.function {
  @apply text-[hsl(221,87%,60%)] dark:text-[hsl(221,95%,70%)] duration-300;
}

.token.url {
  color: hsl(198, 99%, 37%);
}

HTML overrides .token.attr-value > .token.punctuation.attr-equals,
.token.special-attr > .token.attr-value > .token.value.css {
  color: hsl(230, 8%, 24%);
}

/* CSS overrides */
.language-css .token.selector {
  @apply text-[hsl(5,74%,59%)] dark:text-[hsl(5,95%,70%)] duration-300;
}

.language-css .token.property {
  @apply text-[hsl(152,58%,44%)] dark:text-[hsl(152,58%,65%)] duration-300;
}

.language-css .token.function,
.language-css .token.url > .token.function {
  color: hsl(198, 99%, 37%);
}

.language-css .token.url > .token.string.url {
  color: hsl(119, 34%, 47%);
}

.language-css .token.important,
.language-css .token.atrule .token.rule {
  color: hsl(301, 63%, 40%);
}

/* JS overrides */
.language-javascript .token.operator {
  color: hsl(301, 63%, 40%);
}

.language-javascript
  .token.template-string
  > .token.interpolation
  > .token.interpolation-punctuation.punctuation {
  color: hsl(344, 84%, 43%);
}

/* JSON overrides */
.language-json .token.operator {
  color: hsl(230, 8%, 24%);
}

.language-json .token.null.keyword {
  color: hsl(35, 99%, 36%);
}

/* MD overrides */
.language-markdown .token.url,
.language-markdown .token.url > .token.operator,
.language-markdown .token.url-reference.url > .token.string {
  color: hsl(230, 8%, 24%);
}

.language-markdown .token.url > .token.content {
  color: hsl(221, 87%, 60%);
}

.language-markdown .token.url > .token.url,
.language-markdown .token.url-reference.url {
  color: hsl(198, 99%, 37%);
}

.language-markdown .token.blockquote.punctuation,
.language-markdown .token.hr.punctuation {
  color: hsl(230, 4%, 64%);
  font-style: italic;
}

.language-markdown .token.code-snippet {
  color: hsl(119, 34%, 47%);
}

.language-markdown .token.bold .token.content {
  color: hsl(35, 99%, 36%);
}

.language-markdown .token.italic .token.content {
  color: hsl(301, 63%, 40%);
}

.language-markdown .token.strike .token.content,
.language-markdown .token.strike .token.punctuation,
.language-markdown .token.list.punctuation,
.language-markdown .token.title.important > .token.punctuation {
  color: hsl(5, 74%, 59%);
}

/* General */
.token.bold {
  font-weight: bold;
}

.token.comment,
.token.italic {
  font-style: italic;
  font-weight: 400;
}

.token.entity {
  cursor: help;
}

.token.namespace {
  opacity: 0.8;
}
