/* _hover.css */

@media (hover: hover) {
  /* Devices that can hover */

  .arrow-hover {
    @apply peer-hover:translate-x-1 peer-hover:text-slate-800 dark:peer-hover:text-gray-200
    peer-hover:-translate-y-1;
  }

  .border-hover {
    @apply group-hover:border-slate-350 group-hover:dark:border-dark-6;
  }

  .button-hover {
    @apply hover:text-slate-900 hover:dark:text-gray-200;
  }

  .call-to-action-hover {
    @apply hover:bg-blue-500 dark:hover:bg-orange-400 active:bg-blue-700
    active:dark:bg-orange-600;
  }

  .card-tech-hover {
    @apply hover:underline underline-offset-2 decoration-2;
  }

  .footer-link-hover {
    @apply hover:text-slate-900 hover:dark:text-gray-200;
  }

  .form-button-hover {
    @apply group-hover:translate-x-1 group-hover:-translate-y-1;
  }

  .label-hover {
    @apply group-hover:text-slate-800 group-hover:dark:text-gray-200;
  }

  .link-hover {
    @apply hover:text-slate-800 hover:dark:text-gray-200;
  }

  .logo-hover {
    @apply group-hover:text-blue-500 group-hover:dark:text-orange-400;
  }

  .not-found-button-hover {
    @apply group-hover:-translate-x-1;
  }

  .resume-hover {
    @apply hover:bg-slate-200 hover:dark:bg-dark-6;
  }

  .resume-button-hover {
    @apply group-hover:opacity-100 group-focus-visible:opacity-100 group-hover:translate-y-0
    group-focus-visible:translate-y-0 focus-visible:opacity-100 focus-visible:translate-y-0
    opacity-0 !transition-[opacity,transform,background] !duration-300;
  }

  .secondary-button-hover {
    @apply hover:text-blue-500 hover:dark:text-orange-400 hover:underline;
  }

  .social-network-hover {
    @apply hover:dark:text-gray-200;
  }

  .tech-hover {
    @apply hover:translate-x-1;
  }

  .tooltip-hover {
    @apply group-hover:visible group-hover:opacity-100;
  }
}

@media (hover: none) {
  /* Devices that can't hover */

  .arrow-hover {
    @apply translate-x-0 translate-y-0;
  }

  .border-hover {
    @apply border-slate-300 dark:border-dark-4;
  }

  .button-hover {
    @apply text-slate-500 dark:text-gray-400;
  }

  .call-to-action-hover {
    @apply bg-accent;
  }

  .card-tech-hover {
    @apply no-underline;
  }

  .footer-link-hover {
    @apply text-slate-600 dark:text-gray-400;
  }

  .form-button-hover {
    @apply translate-x-0 translate-y-0;
  }

  .label-hover {
    @apply text-slate-500 dark:text-gray-400;
  }

  .link-hover {
    @apply text-slate-600 dark:text-gray-400;
  }

  .logo-hover {
    @apply text-accent;
  }

  .not-found-button-hover {
    @apply translate-x-0;
  }

  .resume-hover {
    @apply bg-slate-100 dark:bg-dark-3;
  }

  .resume-button-hover {
    @apply opacity-100 !translate-y-0;
  }

  .secondary-button-hover {
    @apply text-accent;
  }

  .social-network-hover {
    @apply text-slate-600 dark:text-gray-400;
  }

  .tech-hover {
    @apply translate-x-0;
  }

  .tooltip-hover {
    @apply invisible;
  }
}
